    body{
      background-color:white;
      
    }
  
    .planes-card {
      transition: transform 0.3s ease;
    }
    .planes-card:hover {
      transform: scale(1.03);
    }



  .lead{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
   
  }
 
  /* Fondo oscuro suave para todo el carrusel */
#heroCarrusel {
  position: relative;
  background-color: #d4d7d9;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: visible;
  box-shadow: 0 0 25px rgba(15, 15, 15, 0.6);
  height: 80vh;
}

/* Bordes redondeados en las imágenes */
.carousel-item img {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  object-fit: fill;
  height: 80vh;
}

/* Video responsivo con bordes suaves */
.carousel-item video {
  width: 100%;
  height: 70%;
  object-fit: fill;
  object-position: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


/* Flechas de navegación personalizadas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: -50px;
  z-index: 10;
}



/* Indicadores personalizados (puntos abajo) */
.carousel-indicators [data-bs-target] {
  background-color: #2cd166;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 0.7;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
}
.carousel-indicators .active {
  background-color: #3e08c6;
  opacity: 5;
}

/* Transición suave entre slides */
.carousel-item {
  transition: opacity 1.8s ease-in-out;
}

 @media screen and (max-width: 576px) {
  .carousel-item {
    height: 80vh; /* Ajusta la altura en móviles */
  }

  .carousel-item video {
    width: 100vw;
    height: 80vh;
    object-fit: fill;
  
  }
}

  


